.About{
    padding-bottom: 0 !important;
}


.about-container{
    display: grid;
    grid-template-columns: 52% auto;
    gap: 3rem;
    justify-content: center;
}
.about-left p{
    margin-top: 1rem;
    font-size: 30px;
}
.about-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/* Max-width: 1024px */
@media (max-width: 1024px) {
    .about-container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .about-right{
        grid-row: 1;
    }

/* Max-width: 600px */
@media (max-width: 600px) {
    .about-container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .about-right{
        grid-row: 1;
    }
}

}