.contact-container{
    width: 50%;
}
.contact-container input, textarea{
    border: 2px solid var(--color-dark);
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
    background: transparent;
    color: var(--color-dark);
    resize: none;
}
.contact-container button{
    background: transparent;
    margin-top: 0 !important;
}

footer{
    background: var(--color-light);
    padding: 2rem;
    text-align: center;
    color: var(--color-dark);
}

/* max-width: 1024px */
@media (max-width: 1024px){
    .contact-container{
        width: 60%;
    }

}
/* max-width: 600px */
@media (max-width: 600px){
    .contact-container{
        width: 80%;
    }

}