header{
    height: 100vh;
    overflow: hidden;
}

.header-container{
    display: grid;
    grid-template-columns: 34% auto;
    align-items: center;
    padding: 40px;
    gap: 4rem;
    height: 100%;
    position: relative;
}
.header-container::before{
    content: '';
    height: 120%;
    width: 100%;
    background: linear-gradient(to right, var(--color-primary) 70%, transparent 100%);
    position: absolute;
    z-index: -1 ;
    left: -80%;
}
.header-container img{
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 10px solid var (--color-white);
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.header-right{
    width: 90%;
    max-width: 700 px;
}
.header-right h1{
    margin-bottom: 1.4rem;
}

/* Max-width: 768px */
@media (max-width: 768px) {
    .header-container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .header-container::before{
        transform: rotate(-54deg);
        left: 26%;
        top: -40%;

    }
    .header-container img{
        width: 70%;
        margin: 0 auto;
    }
    .header-right{
        text-align: center;
        margin: 0 auto;
        width: 100%;
        margin-top: -6rem;

    }
}