.Heading-text{
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 4rem;
}
.Heading-text span{
    color: var(--color-primary);
}

/* Max-width: 1024px */
@media (max-width: 1024px) {
    .Heading-text{
        font-size: 2.2rem;
    }
}

/* Max-width: 600px */
@media (max-width: 600px) {
    .Heading-text{
        font-size: 1.8rem;
    }
}