.navlinks{
    position: fixed;
    inset: 0;
    width: 100%;
    left: -100%;
    padding: 60px 30px;
    background: var(--color-light);
    transition: var(--transition);
    z-index: 11;
}
.navlinks-show {
    left: 0;
}
.nav-link{
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid var(--color-lightEx);
    padding-block: 14px;
    color: var(--color-dark);
}
.nav-link span{
    font-size: 1.1rem;
}
.nav-toggle{
    position: fixed;
    top: 2.5rem;
    right: 5%;
    width: 24px;
    z-index: 12;
}
.nav-toggle span{
    width: 100%;
    display: block;
    height: 2px;
    background: var(--color-dark);
    margin-bottom: 5px;
    transition: var(--transition);
}
.nav-close span:nth-child(1){
    transform: rotate(45deg) translate(3px, 6px);
}
.nav-close span:nth-child(2){
    display: none;
}
.nav-close span:nth-child(3){
    transform: rotate(-45deg) translate(-1px, -2px);
}

/*Active class*/
.navlinksActive span{
    color: var(--color-primary);
}
.navlinksActive h3{
    color: var(--color-primary);
}

/*Media Screen */
@media (min-width:1024px) {
    nav{
        display: flex;
        height: 100%;
        display: flex;
        align-items: center;
        position: fixed;
        right: 3%;
        z-index: 100;
    }
    .nav-toggle{
        display: none;
    }
    .navlinks{
        position: relative;
        left: 0;
        width: 100%;
        background: transparent;
        padding: 0;
    }
    .nav-link{
        border: transparent;
        flex-direction: row-reverse;
        padding-block: 0;
        gap: 0;
        margin: 2rem 0;
    }
    .nav-link span{
     background: var(--color-light);
     border-radius: 50%;
     padding: 1rem;
     display: flex;
     transition: var(--transition);

   }
   .nav-link:hover span{

    background: var(--color-primary);
    color: white;

   }

   .nav-link h3{
    transform: scale(0);
    transition: var(--transition);
   }
   .nav-link:hover h3{
    color: var(--color-primary);
    transform: scale(1);

   }
    
   /* Active */
   .navlinksActive span{
        color: white;
        background: var(--color-primary);
    }
    .navlinksActive h3{
        transform: scale(.8);
    }
}